{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

    <!-- BREADCRUMB -->
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'main_app:report_list' %}">Reports</a></li>
            <li class="breadcrumb-item active" aria-current="page">Hapus Laporan</li>
        </ol>
    </nav>

    <h2>Hapus Laporan</h2>

    <div class="card shadow-sm">
        <div class="card-body">
            <p>Yakin mau hapus <strong>{{ object.title }}</strong>?</p>

            <form method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Ya, hapus</button>
                <a href="{% url 'main_app:report_list' %}" class="btn btn-secondary">Kembali</a>
            </form>
        </div>
    </div>

</div>
{% endblock %}